{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    [
      "next/babel",
      {
        "preset-env": {},
        "transform-runtime": {},
        "styled-jsx": {},
        "class-properties": {}
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src", "./config"],
        "alias": {
          "logger": "./src/logger"
        }
      }
    ]
  ]
}
